.progress {
  &-circle {
    position: relative;
    width: 7.55vw;
    height: 7.55vw;

    .slot {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);

      h4 {
        font-size: var(--font-size-xl);
      }

      span {
        font-size: var(--font-size-s);
        line-height: var(--line-height-m);
        font-weight: var(--font-weight-bold);
      }
    }

    &-svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
    }

    &-line {
      stroke-dasharray: 100;
      transition: 0.5s;
    }
  }
}