.exit-button {
  all: unset;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  & > .text {
    font-size: var(--font-size-m);
    line-height: var(--line-height-l);
  }

  &:disabled {
    opacity: 0.3;
  }

  &:not(:disabled):hover {
    color: var(--color-orange-100);
  }
}