.themes-switcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3.13vw;

  .track {
    position: relative;
    width: 3.96vw;
    height: 1vw;
    cursor: pointer;
    background-color: var(--color-accent-100);
    border-radius: 0.5vw;
  }

  .thumb {
    position: absolute;
    top: -1.56vw;
    left: -1.3vw;
    cursor: pointer;
    transition: transform 0.2s ease-in-out 0s;
  }

  .dark-theme-switcher {
    transform: translateX(0px);
  }

  .light-theme-switcher {
    color: darkorange;
    transform: translateX(2.5vw);
  }
}