:root {
  --font-family-primary: 'Montserrat', sans-serif;

  // line heights
  --line-height-s: 1.04vw; // 20px
  --line-height-m: 1.25vw; // 24px
  --line-height-l: 1.51vw; // 29px
  --line-height-xl: 2.08vw; // 40px

  // font sizes
  --font-size-xs: 0.83vw; // 16px
  --font-size-s: 1.04vw; // 20px
  --font-size-m: 1.25vw; // 24px
  --font-size-l: 1.67vw; // 32px
  --font-size-xl: 1.86vw; // 36px

  // font weights
  --font-weight-regular: 600;
  --font-weight-bold: 700;
}