.home-page {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: -1vw;
  transition: all 0.2s ease-in-out;
}

.logo {
  position: absolute;
  top: 1vw;
  right: 1vw;
}

.content-page {
  flex: 1;
  position: relative;
  margin-left: -1vw;
  padding: 2vw 4vw;
  transition: all 0.2s ease-in-out;
}

.home-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 1vw;

  &:hover {
    opacity: 0.8;
  }
}

.link-text {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}

.page-heading {
  margin-bottom: 1vw;
}

.input {
  width: 20%;
  margin-top: 1vw;
  margin-right: 1vw;
  padding: 10px;
  border-radius: 1vw;
  font-size: 16px;
  color: var(--color-dark-500);
  background-color: var(--color-light-100);
  border: 1px solid var(--color-accent-100);
  transition: border-color 0.2s ease-in-out;

  &:focus {
    outline: 1px solid var(--color-dark-100);
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--color-dark-500);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-orange-100);
    color: white;
  }

  &:active {
    opacity: 0.8;
  }
}