.sidebar {
  width: 34.5vw;
  padding: 1.6vw 2vw;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  box-shadow: 4px 0 10px 0 #00000040;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}

.lightThemeSidebar {
  background-color: var(--color-light-300);
  color: var(--color-dark-500);
}

.darkThemeSidebar {
  background-color: var(--color-dark-300);
  color: var(--color-light-300);
}