:root {
  // accent
  --color-accent-100: #56698f;

  // light
  --color-light-100: #FFFFFF;
  --color-light-300: #F2F2F2;

  // dark
  --color-dark-100: #9DB2DF;
  --color-dark-300: #323A53;
  --color-dark-500: #000;

  // orange
  --color-orange-100: #EF7F1A;

  // green
  --color-green-100: #B2D63C;
}