:root {
  --font-family-primary: 'Montserrat', sans-serif;

  // line heights
  --line-height-s: 2rem;
  --line-height-m: 2.4rem;
  --line-height-l: 2.9rem;
  --line-height-xl: 4rem;

  // font sizes
  --font-size-xs: 1.6rem;
  --font-size-s: 2rem;
  --font-size-m: 2.4rem;
  --font-size-l: 3.2rem;
  --font-size-xl: 3.6rem;

  // font weights
  --font-weight-regular: 600;
  --font-weight-bold: 700;
}